* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: whitesmoke;
    font-family: 'Comfortaa';
    font-size: x-large;
}

.header {
    padding: 20px;
    font-family: "Comfortaa", sans-serif;
    background-color: #0a0a08;
    color: #ffffff;
}

.header div {
    margin-right: 20px;
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

h1 {
    color: whitesmoke;
    font-size: 50px;
    background-color: dimgray;
    padding-left: 62px;
    border-left-style: solid;
    font-family: "Comfortaa", sans-serif;
}

h2 {
    font-size: 50px;
    padding-left: 0px;
    font-family: "Comfortaa", sans-serif;
    font-weight: bolder;
}

/* targets the navigation menu */

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
    font-family: "Comfortaa", sans-serif;
}

/* creates hover effect on navigation menu */

a:hover {
    color: rgb(42, 83, 216);
    text-decoration: none;
    font-size: 25px;
    font-family: "Comfortaa", sans-serif;
}

h2, h4, p {
    color: black;
    font-weight: bolder;
    text-align: center;
}

h3 .project-name {
    color: whitesmoke;
    ;
}

section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
}


.justify center {
    justify-content: center;
}

.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px;
    justify-content: space-around;
    margin-left: 4%;
}

p {
    width: 90%;
    padding-left: 2%;
    word-spacing: 7px;
}

/* gives margin to the horizontal line */

.extraMargin {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

/* targets the first word on the first parapraph */

hr {
    width: 50%;

    color: black;
}

/*targets the main hero image at top */

.hero {
    height: 500px;
    margin-bottom: 125px;
    background-image: url("./coolimages5.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
}


.github {
    height: 50px;
    margin-left: 5px;
}

/*targets the images on the "my work" section */
.project-main-one {
    height: 300px;
    width: 450px;
    display: flex;
    background-position: center;
    background-image: url("./ESportsRoastDemo.gif");    
}

.project-main-one:hover {
    height: 350px;
    width: 475px;
}

.project-main-two {
    height: 300px;
    width: 450px;
    display: flex;
    background-position: center;
    background-image: url("./wastenomore.png");
}

.project-main-two:hover {
    height: 350px;
    width: 475px;
}

.project-main-three {
    height: 300px;
    width: 450px;
    display: flex;
    background-position: center;
    background-image: url("./coolimages5.jpg");
}

.project-main-three:hover {
    height: 350px;
    width: 475px;
}

.project-one {
    height: 300px;
    width: 450px;
    display: flex;
    background-position: center;
    background-image: url("./passwordgenerator.jpg");
}

.project-one:hover {
    height: 350px;
    width: 475px;
}

.project-two {
    height: 300px;
    width: 450px;
    display: flex;
    background-position: center;
    background-image: url("./quiz.jpg");
}

.project-two:hover {
    height: 350px;
    width: 475px;
}

.project-three {
    height: 300px;
    width: 450px;
    display: flex;
    background-position: center;
    background-image: url("./dailyplanner.jpg");
}

.project-three:hover {
    height: 350px;
    width: 475px;
}

.project-four {
    height: 300px;
    width: 450px;
    display: flex;
    background-position: center;
    background-image: url("./weather.jpg");
}

.project-four:hover {
    height: 350px;
    width: 475px;
}

.project-five {
    height: 300px;
    width: 450px;
    display: flex;
    background-position: center;
    background-image: url("./coolimages6.jpg");
}

.project-five:hover {
    height: 350px;
    width: 475px;
}

.project-six {
    height: 300px;
    width: 450px;
    display: flex;
    background-position: center;
    background-image: url("./coolimages6.jpg");
}

.project-six:hover {
    height: 350px;
    width: 475px;
}

.project-daily {
    color: black;
}

.contactme {
    margin-top: 5%;
}

#aboutme {
    margin-bottom: 50px;
}

.number {
    color: black;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.listskills {
    color: black ;
}

.infolink {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.bottomlink {
    color: black;
    margin-top: 100px;
    font-size: xxx-large;
}

.linkedin {
    height: 75px;
    margin-top: 90px;
    margin-left: 10px;
}

.linkedintop {
    height: 40px;
    margin-left: 5px;
    margin-right: 5%;
}

.langicon {
    height: 150px;
    margin-bottom: 5%;
}

.mylanguages {
    margin-bottom: 3%;
    margin-top: 3%;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Gruppo', sans-serif;
    text-align: center;
    padding-top: 200px;
}

.footer h4 {
    font-size: 20px;
}